.example-spacer {
    flex: 1 1 auto;
  }

button {
    margin-left: 15px;
}

a {
    margin-left: 15px;
}

#title {
    margin-left: 15px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
  }